[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
typer = "*"
python-language-server = "*"
pynvim = "*"
black = "*"
toml = "*"
typer-cli = "*"

[requires]
python_version = "3.8"
