
/* SECTION: Coding
## Results {.codefont}
```{r,echo=FALSE}
lemon <-read.csv("LemonData.csv")
```
```{r}
model.fit.1<-lm(y~(x1+x2+x3+x4+x5)^2,lemon)
summary(model.fit.1)
```
 */
.codefont pre {
    font-size: 12px;
    line-height: 10px;
}

/* Fix two columns layouts when printing to pdf */
/*.forceBreak { -webkit-column-break-after: always; break-after: column; }*/

#before-column p.forceBreak {
    break-before: column;
}
#after-column p.forceBreak {
    break-after: column;
}


slides > slide {
  /*font-family: "Times New Roman", Times, serif;*/
  /*font-family: Arial, Helvetica Neue, Helvetica, sans-serif;*/
  /*font-family: Raleway;*/
  font-family: 'Raleway', sans-serif;
  color: black;
  /*background: none !important;*/
  background: none;
  background-color: white !important;
}

slides > slide.backdrop {
  background: none !important;
  background-color: white !important;
}

/* SECTION: Block Quote */
blockquote {
    font-family: Georgia, serif;
    font-size: 50px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* Adding a new smallerstill class for slides which means we have an additional class which is smaller than .smaller */
article.smallerstill p, article.smallerstill ul, article.smallerstill ol {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
}

article.smallerstill table td, article.smallerstill table th {
    font-size: 12px;
}

article.smallerstill pre {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
}

article.smallerstill q {
    font-size: 38px;
    line-height: 45px;
}

article.smallerstill q:before, article.smallerstill q:after {
    font-size: 55px;
}

/* Adding a new smallest class for slides which means we have an additional class which is smaller than .smaller */
article.smallest p, article.smallest ul, article.smallest ol {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

article.smallest table td, article.smallest table th {
    font-size: 10px;
}

article.smallest pre {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0;
}

article.smallest q {
    font-size: 28px;
    line-height: 35px;
}

article.smallest q:before, article.smallest q:after {
    font-size: 45px;
}

slides > slide.backdrop {
  background: none !important;
  background-color: white !important;
}

/**************************/
/* SECTION: LOGO fix size */
/**************************/

/* Title page */
.gdbar img {
  width: 0px !important;
  height: 0px !important;
  margin: 8px 8px;
}
.gdbar {
  width: 0px !important;
  height: 0px !important;
  background: none !important;
  background-color: black !important;
}

/*******************************************/
/* SECTION: TITLE PAGE FONT AND BACKGROUND */
/*******************************************/
slides > slide.title-slide {
  /*background: none !important;*/
  background-image: url("frontpage_blue.jpeg");
  background-size: 100% 100%;
  /*background-color: black !important;*/
}

slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  font-size: 50pt;
  color: white;
  background: #1D5B89;
  background-color: #1D5B89;
  /*position: fixed;
  top: 50%;
  left: 50%;*/
  transform: translate(0%, -55%);
}

slides > slide.title-slide hgroup p {
  font-weight: bold;
  font-size: 20pt;
  color: white;
}

/*******************************************/
/* SECTION: DIVIDER PAGE FONT AND BACKGROUND */
/*******************************************/
slides > slide.dark {
    background: #1D5B89 !important;
}

table.rmdtable th {
	color: white;
	/*font-size: 18px;*/
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #3b4e3f), color-stop(80%, #3b4e3f)) no-repeat;
	background: -webkit-linear-gradient(top, #3b4e3f 40%, #3b4e3f 80%) no-repeat;
	background: -moz-linear-gradient(top, #3b4e3f 40%, #3b4e3f 80%) no-repeat;
	background: -o-linear-gradient(top, #3b4e3f 40%, #3b4e3f 80%) no-repeat;
	background: linear-gradient(top, #3b4e3f 40%, #3b4e3f 80%) no-repeat;
}

